.pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.pagination-container *{
    list-style-type: none;
}

.pagination-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #6C6C6C;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.015em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.pagination-item.active {
    background-color: #FFC700;
}

.pagination-link-active{
    background-color: #FFC700;
}

.arrow-previous{
    color: #FFC700;
}

.arrow-next{
    transform: rotate(180deg);
    margin-left: 10px;
    color: #FFC700;
}

.arrow-inactive{
    color: #9E9E9E;
}

.arrow-active{
    color: #FFC700;
}

.pagination-arrow-container{
    display: flex;
    align-items: center;
}