.btn-container button{
    border: 1px solid black;
}

.button{
    height: 50px;
    width: 262px;
    padding: 0px;
    text-transform: uppercase;
}

.button p{
    text-align: center;
    margin: -4% -4%;
}