.movie-listing-top-container.base-card{
    height: 60px;
    margin-top: 20px;
    margin-left: 11px;
}

.theme-color-default p{
    margin: 0 12px 0 12px;
    padding-top: calc( ( 60px - 30px ) * 1/2 );
    height: 33px;
    letter-spacing: -0.015em;
}

.list-container{
    margin-top: 20px;
}

.list-container.movie-card{
    margin-bottom: 12px;
    margin-left: 18px;
}

.base-card.movie-card{
    margin-left: 11px;
}

@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    .movie-listing-top-container.base-card{
        margin-top: 42px;
        margin: 11px calc( (1200px - 479px) * 1/2 );

    }
    .theme-color-default p{
        margin-bottom:  40px;
    }

    .list-container{
        margin-top: 39px;
    }

    .list-container.movie-card{
        margin-bottom: 27px;
        margin-left: 40px;
    }
    .base-card.movie-card{
      margin: 11px calc( (1200px - 479px) * 1/2 );
    }
}

@media (min-width: 1400px) {
    
}