.form-container{
    min-width: 300px;
    max-width: 1127px;
    min-height: 157px;
    padding: 4vw;
    text-align: center;
}

.form-container input{
    width: 100%;
    max-width: 1077px;
    min-height: 50px;
    margin-bottom: 4%;
    margin-top: 4%;
}

.form-container button{
    max-width: 334px;
    min-width: 274px;
    min-height: 50px;
}

@media (min-width: 576px) {
    .form-container{
        padding-top: 0;
        max-height: 165px;
    }
    .form-container input{
        margin-top: 24px;
        margin-bottom: 17px;
    }
    
}