.movie-filter-container{
    border-radius: 4px;

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;

    width: 260px;
    height: 50px;
    padding-top: 5px;
}

.movie-filter__control *{
    text-align: left;
    font-weight: 400; 
    font-style: normal;
    font-size: 16px;
    font-family: 'Open Sans';
    letter-spacing: -0.015em;
    color: #ffff;
    background-color: #6C6C6C;
    box-sizing: unset;
    border: none;
    outline: none;
}

.movie-filter__control :focus{
    box-shadow: none;
}

.movie-filter__menu *{
    color: #ffff;
    background-color: #6C6C6C;
}

@media (min-width: 1200px) {
    .movie-filter-container{
        height: 20px;
    }
    .movie-filter__control {
        height: 3vh;
    }
    
}


