.container{
    padding: 0px;
    margin: 0px;
    background-color: #525252;
    color: #ffff;
}

.home-container{
    display: flex;
}

.text-container{
    display: none;
    margin: 0px;
    margin-right: 149px;
}
.text-container h5{
    margin-bottom: 19px;
}
.text-container p{
    font-weight: normal;
    margin-bottom: 51px;
    width: 320px;
    height: 60px;
}

.text-container svg{
    width: 380px;
}

.login-container{
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (min-width: 1200px) {
    .container{
        padding: 0px;
        margin-bottom: 110px;
        margin-left: 70px;
        margin-right: 105px;
    }

    .text-container{
        margin-top: 46px;
    }
    .text-container h5{
        font-size: 48px;
    }
    .text-container p{
        font-size: 22px;
    }

    .home-container{
        flex-direction: row;
        align-items: center;
        margin-left: 8vw;
    }

    .text-container{
        display: block;
        margin-left: 0px;
    }
    
}