.details-container{
    width: 90vw;
    height: 66px;
    margin-top: 20px;
    margin-left: 3vw;
    margin-right: 3vw;
    text-align: center;
    background-color: #525252;
    color: #ffff;
}

.details-container-reviews{
    padding-bottom: 6.14vh;
}

.details-form-container{
    padding-bottom: 20px;
} 

@media (min-width: 576px) {
    .details-container{
        margin-top: 40px;
        margin-left: 3.6vw;
        margin-right: 3.6vw;
        max-width: 536px;
        width: 100%;
    } 
    .space-form-container{
        padding-bottom: 40px;
    } 
}

@media (min-width: 768px) {
    .details-container{
        margin-left: 5.26vw;
        margin-right: 5.26vw;
        max-width: 688px;
    }
}

@media (min-width: 992px) {
    .details-container{
        max-width: 912px;
    }    
}

@media (min-width: 1200px) {
    .details-container{
        max-width: 1120px;
        margin-left: 3.4vw;
        margin-right: 3.4vw;
    }
  
}

@media (min-width: 1400px) {
    .details-container{
        margin-left: 10vw;
    }
    .details-container h1{
        margin-right: 17vw;
    } 
}