.details-container{
    width: 90vw;
    height: 66px;
    margin-top: 17px;
    margin-left: 3vw;
    margin-right: 3vw;
    text-align: center;
}

.details-container h1{
    font-size: 22px;
    letter-spacing: -0.015em;
    text-align: left;
}

@media (min-width: 576px) {
    .details-container h1{
        font-size: 24px;
    }    
}

@media (min-width: 768px) {
    .details-container{
        margin-left: 5vw;        
    }
    .details-container h1{
        font-size: 36px;
    }
}

@media (min-width: 1200px) {
    .details-container h1{
        margin-right: 3vw;
        font-size: 48px;
    }    
}

@media (min-width: 1400px) {
    .details-container{
        margin-left: 10vw;
    }
    .details-container h1{
        margin-right: 17vw;
    } 
}