@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

h4{
    font-weight: 700;
    margin-bottom: 0;
    color: #000000;
}
h5, h6{
    font-weight: 400;
    font-size: 36px;
}


.theme-color-default{
    background-color: #525252;
    color: #ffff;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

.base-card{
    background-color: #9E9E9E;
    border-radius: 6px;
}